.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #a4a3a3;
}
form {
  display: flex;
  flex-direction: column;
}
h2 {
  font-style: oblique;
  color: hwb(265 0% 20% / 0.8);
}
p {
font-size: large;
color:hwb(265 0% 20% / 0.8);
}
input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: large;
}
button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  font-size: large;
}
button:hover {
  background-color: #218838;
}


